$primary: #f53838;
$secondary: #ffecec;
$success: #2fab73;

$content-primary: #0b132a;
$content-secondary: #4f5665;

$shadow-pripary: rgba(245, 56, 56, 0.35);
$shadow-secondary: rgba(13, 16, 37, 0.06);

$white: #f8f8f8;
