@import "libs/bootstrap-reboot.min";
@import "base/fonts";
@import "base/colors.scss";
@import "base/variables";
@import "base/mixins";
@import "components/index.scss";

.page {
  display: flex;
  flex-direction: column;

  min-height: 100vh;

  contain: paint;
}

.container {
  max-width: 1150px;
  padding: 0 20px;
}

body {
  font-family: "Rubik";
}
